# Dependencies
node_modules
.pnpm-store

# Build outputs
dist
tmp
out-tsc
*.tsbuildinfo

# IDE
.idea
.vscode
*.swp
*.swo
*~

# System Files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local
.env.development
.env.docker

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Testing
coverage
.nyc_output

# Nx
.nx/cache
.nx/workspace-data

# Next.js
.next
out
.vercel

# Misc
*.pem
.cache

# Prisma
/generated/prisma
.prisma
*.db
*.db-journal
packages/**/prisma/migrations/*/
